#board {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

.board-tile {
    background: tomato;
    flex: 1 0 33.3%;
    height:auto;
    outline: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-tile.selected {
    transition: 250ms;
    color: #fff;
}

.board-tile:before {
    content:'';
    float:left;
    padding-top:100%;
}

.board-tile .icon {
    font-size: 3em;
}

.board-tile.selected.winningCell {
    color:bisque;
    background: coral;
    transition: 250ms;
}

#newgame {
    margin-top: 10px;
}